@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.home-background{
    width: 20%;
    height: 50%;
    position:absolute;
    right: 100px;
}
.home-background img{
    height: 85%;
    position: absolute;
    left: 40%;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;

       

      
}
.home-background:hover .me{
    left: 45%;
}
section{
    min-height: 100vh;
    background-image: /*linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)),*/ url("/images/page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.contact-info li{
    text-align: center;
    text-align: left;
}
.contact-info a:hover{
    color: blue;
}


.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}
.home-sci a:hover{
    color: red;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100;
    background: red;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;
}
.container{
    width: 85%;
    margin:auto;
}
nav{
    height: 80px;
}
nav h1{
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color: red;
}
nav ul{
    float: right;
    line-height: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}
nav ul li a:hover{
    background-color: red;
    transition: 0.2s ease;
}
nav ul li .active{
    background-color: red;
}
.article{
    /*width: 50px;*/
    margin:auto;
    text-align: left;
    transform: translateY(25vh);
}
.article h1{
    font-size: 36px;
    color:white;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;
}
.article h2{
    color: red;
}
span{
    color: red;
 }
.article p{
    font-size: 18px;
    color:white;
    line-height: 1.5;
    margin-bottom: 50px;
    text-align: left;
}
.article .btn{
    color: #fff;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color:red;
    margin-right: 50px ;
    border-radius: 5px;

}
.article .btn:hover{
    background-color: black;
    transition: 0.2s ease;
    color: white;
}